th,
td{
    text-align: center;
    vertical-align: middle;
}

.cirstatus{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: auto auto;
    vertical-align: middle;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 2;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}