<!--Se hereda la plantilla-->
{% extends "./plantillaBase.html" %}

{% block title %}{% endblock %}

{% block body %}

<div class="row">
    <div class="row py-3">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
              </div>
            </div>
            {% endfor %}
        </ul>
        {% endif %}

        <!--
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{message}}</strong>
        </div>
        {% endfor %}
        {% endif %}
        -->

        <h4><a href="users/"></a>Lista de usuarios</h4>

    </div>


    <div class="row py-2">
        <div class="row">
            <form method="get" class="col-sm-6">
                <div class="form-outline">
                    <input type="search" onkeyup="autofilter()" class="form-control" id="table-responsive-search-input" placeholder="Buscar" name="search" value="{{request.GET.search}}"/>
                </div>
            </form>

            <div class="col-sm-6">
                <a href="/newuser/{{sucselected}}" class="btn btn-info">+ Crear usuario</a>
            </div>
        </div>


        <div class="table-responsive py-5">
            <table class="table" id="mytable">
                <thead>
                    <tr class="header">
                        <th class="text-center">USUARIO</th>
                        <th class="text-center">CONTRASEÑA</th>
                        <th class="text-center">PLAN</th>
                        <th class="text-center">MAX CONEXIONES</th>
                        <th class="text-center">ESTADO</th>
                        <th colspan="4">ACCION</th>
                    </tr>
                </thead>
                <tbody>

                {% if usuarios|length > 0 %}
                    {% for u in usuarios %}
                    <tr>
                        <td>
                            <a href="/{{sucselected}}/{{u.username}}" data-toggle="tooltip" data-placement="left"
                               title="{{u.names}}">{{u.username}}</a>
                        </td>
                        <td class="text">{{u.password}}</td>
                        <td class="text">{{u.bouquet}}</td>
                        <td class="text">{{u.maxconn}}</td>
                        <td><div class="cirstatus" data-status={{u.status}}></div></td>

                        <td><a href="/{{sucselected}}/cortar/{{u.username}}" class="btn btn-outline-danger cortarjs">Cortar</a>
                            <a href="/{{sucselected}}/activar/{{u.username}}" class="btn btn-outline-success activarjs">Reconectar</a></td>

                        <td><a href="/{{sucselected}}/suspender/{{u.username}}" class="btn btn-outline-dark suspenderjs">Deshabilitar</a>
                            <a href="/{{sucselected}}/habilitar/{{u.username}}" class="btn btn-outline-info habilitarjs">Habilitar</a></td>

                        <td><a href="/{{sucselected}}/eliminar/{{u.username}}" class="btn btn-light eliminarjs">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>¡No hay usuarios que coincidan con tu búsqueda!</td>
                    </tr>
                {% endif %}
                </tbody>

            </table>

        </div>

        <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });

        function autofilter() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("table-responsive-search-input");
          filter = input.value.toUpperCase();
          table = document.getElementById("mytable");
          tr = table.getElementsByTagName("tr");

          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }


        </script>

        <hr>

        <div>{% include 'paginator.html' %}</div>

    </div>
</div>
{% endblock %}