<!--Se hereda la plantilla-->
{% extends "./plantillaBase.html" %}

{% block title %}{% endblock %}

{% block body %}

<div class="row">
    <div class="row py-3">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{message}}</strong>
        </div>
        {% endfor %}
        {% endif %}

        <h4><a href="users/"></a>Lista de usuarios</h4>

    </div>


    <div class="row py-2">
        <div class="row">
            <form method="get" class="col-sm-6">
                <div class="form-outline">
                    <input type="search" class="form-control" id="table-responsive-search-input" placeholder="Buscar" name="search" value="{{request.GET.search}}"/>
                </div>
            </form>

            <div class="col-sm-6">
                <a href="/newuser/" class="btn btn-info">+ Crear usuario</a>
            </div>
        </div>


        <div class="table-responsive py-5">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">USUARIO</th>
                        <th class="text-center">CONTRASEÑA</th>
                        <th class="text-center">PLAN</th>
                        <th class="text-center">MAX CONEXIONES</th>
                        <th class="text-center">ESTADO</th>
                        <th colspan="4">ACCION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuarios %}
                    <tr>
                        <td class="text"><a href="/edit/{{u.username}}">{{u.username}}</a></td>
                        <td class="text">{{u.password}}</td>
                        <td class="text">{{u.bouquet}}</td>
                        <td class="text">{{u.maxconn}}</td>
                        <td><div class="cirstatus" data-status={{u.status}}></div></td>

                        <td><a href="/cortar/{{u.username}}" class="btn btn-outline-danger cortarjs">Cortar</a>
                            <a href="/activar/{{u.username}}" class="btn btn-outline-success activarjs">Activar</a></td>

                        <td><a href="/suspender/{{u.username}}" class="btn btn-outline-dark suspenderjs">Deshabilitar</a>
                            <a href="/habilitar/{{u.username}}" class="btn btn-outline-info habilitarjs">Habilitar</a></td>

                        <td><a href="/eliminar/{{u.username}}" class="btn btn-light eliminarjs">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

        <hr>

        <div>{% include 'paginator.html' %}</div>

    </div>
</div>
{% endblock %}