<!--Se hereda la plantilla-->
{% extends "./plantillaBase.html" %}

{% block body %}
    <div class="row">

        <div class="col-md-4 offset-md-4">
            <h2>Usuario Nuevo</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/crearusuario/{{sucselected}}" method="post">{% csrf_token %}
                        <div class="form-group py-2">
                            <input type="text" id="txtUsername" name="txtUsername" class="form-control" placeholder="USUARIO"
                                minlength="6" maxlength="8" required>
                        </div>
                        <div class="form-group py-2">
                             <input type="text" id="txtPassword" name="txtPassword" class="form-control" placeholder="CONTRASEÑA"
                                minlength="6" maxlength="8" required>
                        </div>

                        <div class="form-group py-2">
                             <input type="text" id="txtNames" name="txtNames" class="form-control" placeholder="NOMBRES"
                                value="{{usr.names}}" required>
                        </div>

                        <div class="form-group py-2">
                            <input type="number" id="txtConn" name="txtConn" class="form-control" placeholder="# CONEXIONES"
                                minlength="6" maxlength="18" min="1" max="10" required>
                        </div>

                        <div class="multi_select_box">
                            <select name="slcplan[]" id="selector" class="multi_select" title='PLAN' multiple>
                                {% for opt in dtbouquets %}
                                <option value="{{ opt.id }}" >{{ opt.bqtname }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group py-2">
                            <button type="submit" class="btn btn-info btn-block text-white">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}